.business-block {
  display: flex;
  position: relative;
  width: 70%;
  margin: {
    top: 25px;
    left: 20px;
  }
  .buy-business-block {
    position: absolute;
    width: 101%;
    height: 100%;
    color: white;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    align-items: center;
    backdrop-filter: blur(3px);
    .buy-business-elements {
      font-size: 18px;
      width: 80%;
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: space-around;
      text-shadow:
        3px 3px 3px #000000,
        0 2px 2px #000000,
        -2px 0 2px #000000;
      .buy-business-elements-lock {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .business-earn {
    width: 40%;
    background: none;
    border: none;
    transition: .1s;
    .business-earn-icon {
      width: 100%;
    }
  }
  .flash-earn {
    animation: blur 1.5s ease-in-out infinite;
    @keyframes blur {
      10% {
        -webkit-filter: drop-shadow(0 0 1px #222);
        filter: drop-shadow(0 0 1px #222);
      }
      20% {
        -webkit-filter: drop-shadow(0 0 3px #222);
        filter: drop-shadow(0 0 3px #222);
      }
      30% {
        -webkit-filter: drop-shadow(0 0 6px #222);
        filter: drop-shadow(0 0 6px #222);
      }
      40% {
        -webkit-filter: drop-shadow(0 0 7px #222);
        filter: drop-shadow(0 0 7px #222);
      }
      50% {
        -webkit-filter: drop-shadow(0 0 8px #222);
        filter: drop-shadow(0 0 8px #222);
      }
      70% {
        -webkit-filter: drop-shadow(0 0 6px #222);
        filter: drop-shadow(0 0 6px #222);
      }
      80% {
        -webkit-filter: drop-shadow(0 0 5px #222);
        filter: drop-shadow(0 0 5px #222);
      }
      90% {
        -webkit-filter: drop-shadow(0 0 3px #222);
        filter: drop-shadow(0 0 3px #222);
      }
      100% {
        -webkit-filter: drop-shadow(0 0 1px #222);
        filter: drop-shadow(0 0 1px #222);
      }
    }
  }
  .business-info {
    height: 80%;
    margin-left: 10px;
    margin-top: auto;
    width: 60%;
    .business-info-position {
      bottom: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .business-info-earn {
        position: relative;
        width: 97%;
        height: 30px;
        border: 2px solid white;
        border-top-right-radius: 10px;
        background: gray;
        .green {
          width: 0;
          background: #18EE7F;
          height: 100%;
          position: absolute;
          border-top-right-radius: 10px;
        }
        p {
          position: absolute;
          z-index: 1;
          color: black;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%)
        }
      }
      .business-info-improve {
        display: flex;
        justify-content: space-between;
        margin-top: 7px;
        width: 100%;
        .business-info-improve-button {
          color: white;
          background: url("../../../assets/ButtonBuy.png");
          background-size: cover;
          border: none;
          width: 120px;
          height: 36px;
          transition: .1s;
          &:disabled {
            opacity: .5;
          }
        }
        .business-info-improve-sec-block {
          background: url("../../../assets/Seconds.png");
          border: none;
          background-size: cover;
          width: 40px;
          height: 36px;
          display: flex;
          align-items: center;
          .business-info-improve-sec {
            margin: 0 auto;
            color: white;
            font: {
              size: 2vh;
            }
          }
        }
      }
    }
  }
}
