<div class="business-block {{availableBlock}}">
  <button [disabled]="active" (click)="earn()" class="business-earn {{styleActive}}"></button>
  <div class="business-info">
    <div class="business-info-earn">
      <p>{{business.startPrice}}</p>
    </div>
    <div class="business-info-improve">
      <button (click)="increaseBusinessEarn()">{{business.cost}}</button>
      <div>{{count / 1000}}</div>
    </div>
  </div>
  <button (click)="buyBusiness()">buy it for {{business.available}}, you have {{currentSum}}</button>
</div>
