.parent {
  background: #FBDA42;
  cursor: grab;
  overflow-y: auto;
  -webkit-user-drag: auto;
  height: 100vh;
  .main-back {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 85%;
  }
}
