<div class="header">
  <img class="header-back" src="../../../assets/Header.png" alt="header">
  <div class="header-content-position">
    <div class="header-content">
      <div class="header-content-avatar">
        <img class="header-avatar-border" src="../../../assets/Avatar.png" alt="avatar-border">
        <img class="header-avatar" src="../../../assets/avatar-acc.png" alt="avatar">
      </div>
      <div class="header-content-money">
        <div class="header-content-money-current">
          <img class="header-content-money-current-image" src="../../../assets/ton_symbol.png" alt="main-symbol">
          <p class="header-content-money-current-text">{{currentPoint | number: '1.0-2'}}</p>
        </div>
        <div class="header-content-money-donate">
          <img class="header-content-money-donate-image" src="../../../assets/coin.png" alt="coin">
          <p class="header-content-money-donate-text">0</p>
        </div>
      </div>
    </div>
  </div>
</div>
