.header {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 16%;
  .header-content-position {
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
    .header-content-position-back {
      width: 100%;
      height: 108%;
      position: absolute;
      top: 0;
    }
    .header-content {
      z-index: 3;
      position: absolute;
      display: flex;
      margin-left: 20px;
      align-items: center;
      .header-content-avatar {
        position: relative;
        .header-avatar-border {
          height: 14vh;
        }
      }
      .header-content-money {
        margin-left: 10px;
        .header-content-money-current {
          display: flex;
          align-items: center;
          .header-content-money-current-image {
            height: 5vh;
          }
          .header-content-money-current-text {
            margin-left: 10px;
            font: {
              size: 3vh;
            }
          }
        }
        .header-content-money-donate {
          display: flex;
          align-items: center;
          margin-top: 7px;
          margin-left: 3.5%;
          .header-content-money-donate-image {
            height: 3.8vh;
          }
          .header-content-money-donate-text {
            margin-left: 10px;
            font: {
              size: 2vh;
            }
          }
        }
      }
    }
  }
  .bonus-buttons-block {
    position: absolute;
    right: 9px;
    top: 155px;
    .bonus-buttons-block-bonus {
      display: block;
      background: none;
      border: none;
      width: 45px;
      position: relative;
      .bonus-buttons-block-bonus-image {
        width: 100%;
      }
    }
    .bonus-buttons-block-bonus-ton {
      display: block;
      background: none;
      border: none;
      width: 45px;
      margin-top: 105px;
      position: relative;
      .bonus-buttons-block-bonus-ton-image {
        width: 100%;
      }
    }
  }
}
