<div class="splash-screen" (click)="startGame()">
  <div class="splash-screen-manage-block">
    <div class="splash-screen-texts">
      <h1 class="splash-screen-text">CYBER CAPITALIST</h1>
      <p class="splash-screen-text-transparent">CYBER CAPITALIST</p>
    </div>
    <div class="splash-screen-tap">
      <p>Tap to play</p>
    </div>
  </div>
  <div class="start-screen-button">
    <img class="start-screen-button-image" src="assets/ton_symbol.png" alt="main-icon">
  </div>
  <img class="splash-screen-back" src="assets/Background.png" alt="">
</div>
