.splash-screen {
  background: #FBDA42;
  height: 100vh;
  position: relative;
  .splash-screen-manage-block {
    position: absolute;
    max-width: 390px;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    .splash-screen-texts {
      position: relative;
      .splash-screen-text {
        position: absolute;
        bottom: 4px;
        text-align: center;
        font: {
          size: 44px;
        }
        z-index: 1;
      }
      .splash-screen-text-transparent {
        text-align: center;
        font: {
          size: 44px;
        }
        color: #FBDA42;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      }
    }
    .splash-screen-tap {
      margin-top: 20px;
      text-align: center;
      font: {
        size: 24px;

      }
      animation: blur 1.5s ease-in-out infinite;
      @keyframes blur {
        0% {
          opacity: .1;
        }
        25% {
          opacity: .5;
        }
        50% {
          opacity: 1;
        }
        75% {
          opacity: .5;
        }
        100% {
          opacity: .1;
        }
          //75% {
          //  opacity: .75;
          //}
          //25% {
          //  opacity: .25;
          //}
          //0% {
          //  opacity: .1;
          //}
          //text-shadow:0 0 15px #fff,
          //0 0 14px #fff,
          //0 0 13px #fff,
          //0 0 12px #fff,
          //0 0 11px #fff,
          //0 0 10px #fff,
          //0 0 9px #fff,
          //0 0 8px #fff,
          //0 0 7px #fff,
          //0 0 6px #fff,
          //0 0 5px #fff,
          //0 0 4px #fff,
          //0 0 3px #fff,
          //0 0 2px #fff,
          //0 0 5px #fff;

      }
    }
  }
  .start-screen-button {
    background: none;
    display: block;
    position: absolute;
    border: none;
    top: 68%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    .start-screen-button-image {
      width: 70px;
      height: 70px;
      background-size: cover;
    }
  }
  .splash-screen-back {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 84%;
    object-fit: fill;
  }
}

