@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
*, body, html {
  margin: 0;
  padding: 0;
  font: {
    family: 'Aldrich';
  }
  ::-webkit-scrollbar {
    display: none;
  }
  //overflow: hidden;
}
body {
  touch-action: manipulation;
  background: #FBDA42;
}

html, body { height: 100%; overflow: hidden; }
