.start-game-block {
  margin: 0 auto;
  max-width: 414px;
  height: 100vh;
  //overflow: scroll;
  .start-game-businesses {
    //height: 100%;
    //height: 100vh;
    //overflow: scroll;
    //padding-bottom: 10px;
  }
}
